<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Indica que index.cjs es la aplicación puente de Node.js -->
    <handlers>
      <add name="iisnode" path="index.cjs" verb="*" modules="iisnode" />
    </handlers>
    
    <rewrite>
      <rules>
        <!-- No reescribir si el archivo o carpeta existe físicamente en el servidor -->
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^index.cjs\/debug[\/]?" />
        </rule>

        <!-- Redirigir todas las demás solicitudes entrantes a la aplicación Node.js -->
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
          </conditions>
          <action type="Rewrite" url="index.cjs" />
        </rule>
      </rules>
    </rewrite>

    <iisnode 
      loggingEnabled="true"
      devErrorsEnabled="true"
      nodeProcessCommandLine="node.exe --experimental-modules"
      watchedFiles="web.config;*.js"
    />

    <security>
      <requestFiltering>
        <hiddenSegments>
          <remove segment="bin"/>
          <add segment="node_modules" />
        </hiddenSegments>
      </requestFiltering>
    </security>

    <directoryBrowse enabled="false" />

    <httpErrors errorMode="Detailed" existingResponse="PassThrough" />
  </system.webServer>
</configuration>
